@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html,
body {
   scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  background: black;
}

/* html{
   
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */


table{
  /* border: 2px solid #9959e5; */
  width: 50%;
	/* height: 300px; */
}

tbody {
  /* border: 2px solid #9959e5;
  border-bottom: 2px solid #9959e5; */
  color: white;
}

th {
  /* border-bottom: 2px solid #9959e5;
  border-right: 2px solid #9959e5; */
  /* padding: 0px 20px; */
  text-align: start;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: medium;
  
}

tr{
  text-align: start;
}
td {
  /* border-right: 2px solid #9959e5; */
  padding: 2px 4px;
  /* border-bottom: 2px solid #9959e5; */
  font-size: medium;
}

td:last-child {
  border-right: 0;
}

tfoot {
  color: white;
}

tfoot th {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  table {
    display: inline-block;
  }
}


.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}


.subnav-content {
  display: none;
  position: absolute;
  /* background-color: #f1f1f1; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 4;
}

.subnav:hover .subnav-content {
  display: block;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

::page-transition-outgoing-image(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::page-transition-incoming-image(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::page-transition-outgoing-image(movie-poster),
::page-transition-incoming-image(movie-poster) {
  animation: none;
  mix-blend-mode: normal;
}

::page-transition-image-wrapper(movie-poster) {
  isolation: none;
}

.nav {
  page-transition-tag: main-header;
  contain: paint;
}

.movie-poster {
  page-transition-tag: movie-poster;
  contain: paint;
}

.person-photo {
  page-transition-tag: person-photo;
  contain: paint;
}

.thumbnail {
  contain: paint;
}


/* Banner Animado */

/* .grid-container {
	transform: scale(0.75);
	overflow: hidden;
} */

.banner-text {
	display: flex;
	/* justify-content: flex-end; */
	align-items: center;

}

.blurred-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.blurred-banner {
	background: #00000040;
	width: 66.666%;
	height: 90%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 20px solid #ffffff40;
	animation: blurredBanner 1s 2.8s ease-in-out forwards;
	box-sizing: border-box;
	filter: blur(10px);
	opacity: 0;
}

.blurred-banner {
	position: relative;
}

.blurred-banner > *{
	margin-left: 60px;
	width: 22ch;
	letter-spacing: 0.01rem;
}
.blurred-banner > p:not(.orange-text) {
	line-height: 1.618;
}

@supports(backdrop-filter: blur(10px)) {
	.blurred-banner {
		backdrop-filter: blur(0px)
	}
}

.slide-down {
	opacity: 0;
		animation: slide-down 1s 1s ease-in-out forwards;
}

.reveal, .reveal-2 {
	animation-name: text;
	animation-delay: 1.8s;
	animation-iteration-count: 1;
	animation-duration: 800ms;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.reveal-2 { 
	animation-delay: 2.2s;
}

@keyframes slide-down {
	to {
		opacity: 1;
		margin-top: 0px;
	}
}

 @keyframes text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes blurredBanner {
	0% {
/* 		opacity: 0; */
/* 		backdrop-filter: blur(0); */
	}
	60% {
		opacity: 1;
		filter: blur(10px);
	}
	100% {
		backdrop-filter: blur(10px);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes slide-down-search {
	to {
		top: 0px;
	}
}


.container1 {
	width: 100%;
	height: 100%;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	background-color: rgba(0, 0, 0, .2);
	backdrop-filter: blur(30px);
}

/* Slide 3D */


.slide {
  width: 100%;
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: 0.5;
  filter: grayscale(100%);
 
}

.activeSlide {
  transform: scale(1.0);
  opacity: 10;
  filter: grayscale(0%);
}

.arrow {
  color: #9959e5;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #ffff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}


